# Dependencias
backend/node_modules/
frontend/node_modules/

# Entornos y variables sensibles
backend/.env

# Builds y artefactos
frontend/dist/
frontend/.env.local
# Logs temporales
*.log
npm-debug.log*
