PORT=4000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=agile
DB_USER=postgres
DB_PASS=190819
JWT_SECRET=un_secreto_muy_secreto
JWT_EXPIRES_IN=7d
ENABLE_TODAY_NOTIFIER=false
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=tu_correo@gmail.com
SMTP_PASS=tu_contraseña
NOTIFY_EMAIL_FROM=Agile <tu_correo@gmail.com>
NOTIFY_FALLBACK_EMAIL=destino@ejemplo.com
IFTTT_KEY=tu_llave_webhook
IFTTT_EVENT=sms_due
NOTIFY_DAYS_AHEAD=0
TWILIO_ACCOUNT_SID=ACxxxx
TWILIO_AUTH_TOKEN=xxxx
TWILIO_FROM=+51xxxxxxxxx
NOTIFY_SMS_TO=+51xxxxxxxxx
